body {
    color: red;
}

.square {
    border: 1px;
    border-color: blue;
    border-style: solid;
    width: 48px;
    height: 48px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

#center-container {
    display: flex;
    justify-content: center;
}